{% extends "base.html" %} {% block appcontent %}
<div class="page-header page-header-image">
    <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1493794179168-82ca7cb00437?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2251&q=80');">
    </div>
    <div class="content-center">
        <div class="container">
            <img src="/static/logo.png" alt="">
            <h1 class="title"> <span class="" style="font-family: 'Michroma', sans-serif;">HR</span> <span class="" style="font-family: 'Exo 2', sans-serif;"> <strong>BooST </strong> </span> <br> </h1>
            <h2>This is our great company.</h2>
            <div class="text-center">
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-primary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title"><strong>Main objective</strong></h2>
                <h5 class="" style="text-align:left;"> Deliver a machine learning model that provides actionable information while hiring, to significantly boost employee retention, thus, minimizing rotation.</h5>
            </div>
        </div>
        <div class="separator separator-primary"></div>
        <div class="section-story-overview">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container image-left" style="background-image: url('https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
                        <!-- First image on the left side -->
                        <p class="blockquote blockquote-primary">“Machine learning and deep learning will create a new set of hot jobs in the next 5 years.”
                            <br>
                            <br>
                            <small> -Dave Waters</small>
                        </p>
                    </div>
                    <!-- Second image on the left side of the article -->
                    <div class="image-container" style="background-image: url('https://images.unsplash.com/photo-1529078155058-5d716f45d604?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=749&q=80 ')"></div>
                </div>
                <div class="col-md-5">
                    <!-- First image on the right side, above the article -->
                    <div class="image-container image-right" style="background-image: url('https://images.unsplash.com/photo-1567641091594-71640a68f847?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')"></div>
                    <h3>So what does that mean?</h3>
                    <p>ESASA is a Mexican PYME with 33 years providing B2B food services (comedores). Regarding HR, the single most important break-through to achieve is a boost in employee retention and/or hiring effectiveness; to impact significantly many
                        other business results.
                    </p>
                    <p>
                        For a start, it does not automatically follow that a record amount of ice will melt this summer. More important for determining the size of the annual thaw is the state of the weather as the midnight sun approaches and temperatures rise. But over the
                        more than 30 years of satellite records, scientists have observed a clear pattern of decline, decade-by-decade.
                    </p>
                    <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever happens with climate change. Even if the Arctic continues to be one of the fastest-warming regions of the
                        world, it will always be plunged into bitterly cold polar dark every winter. And year-by-year, for all kinds of natural reasons, there’s huge variety of the state of the ice.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-team text-center">
    <div class="container">
        <h2 class="title">Here is our team</h2>
        <div class="team">
            <div class="row">
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/avata.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Jan</h4>
                        <p class="category text-primary">Data Analyst</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Gonzalo</h4>
                        <p class="category text-primary">Project Leader</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/ev.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Raul</h4>
                        <p class="category text-primary">Web developer</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/avatar.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Jessica</h4>
                        <p class="category text-primary">Data Scientist</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/ev.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">Carlos</h4>
                        <p class="category text-primary">Data Scientist</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="team-player">
                        <img src="static/assets/img/ev.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">José</h4>
                        <p class="category text-primary">Data Scientist</p>
                        <p class="description">You can write here details about one of your team members. You can give more details about what they do. Feel free to add some
                            <a href="#">links</a> for people to be able to follow them outside the site.</p>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
                        <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section section-contact-us text-center">
    <div class="container">
        <h2 class="title">Get in touch with us?</h2>
        <p class="description">Your project is very important to us.</p>
        <div class="row">
            <div class="col-lg-6 text-center col-md-8 ml-auto mr-auto">
                <div class="input-group input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
              <i class="now-ui-icons users_circle-08"></i>
            </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                </div>
                <div class="input-group input-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
              <i class="now-ui-icons ui-1_email-85"></i>
            </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email...">
                </div>
                <div class="textarea-container">
                    <textarea class="form-control" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
                </div>
                <div class="send-button">
                    <a href="#pablo" class="btn btn-primary btn-round btn-block btn-lg">Send Message</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}