{% extends "base.html" %} {% block appcontent %}
<div class="page-header page-header-image">
    <div class="page-header-image" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1512485800893-b08ec1ea59b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80 ');">
    </div>
    <div class="content-center">
        <div class="container">
            <img src="/static/ESASA_logo.png" style="width:400px;height:300px;" alt="">
            <h2>Serving food to your best people.</h2>
            <div class="text-center">
                <a href="#pablo" class="btn btn-secondary btn-icon btn-round">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-secondary btn-icon btn-round">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-secondary btn-icon btn-round">
                    <i class="fab fa-google-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blogs-4" id="blogs-4">

    <div class="container">
        <div class="row">

            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title">¿Quienes somos?</h2>

                <br>

                <div class="card card-plain card-blog">




                    <h3 class="card-title text-secondary">
                        <a href="#pablo">Misión</a>
                    </h3>

                    <h5 class="card-description text-dark">
                        Una empresa 100% mexicana fundada en 1986 con un crecimiento sano por recomendación de nuestros clientes y convertirnos en una empresa nacional estable, SERIA y confiable en el ramo de los Servicios de Alimentación Industrial, Empresarial e Institucional.
                    </h5>
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="https://images.unsplash.com/photo-1551632436-cbf8dd35adfa?">
                        </a>
                    </div>

                </div>

                <div class="card card-plain card-blog">

                    <h3 class="card-title text-secondary">
                        <a href="#pablo">Visión</a>
                    </h3>
                    <h5 class="card-description">
                        Nuestro crecimiento y desarrollo como empresa se debe a la forma de adecuarnos permanentemente a las necesidades y objetivos de servicio de nuestros clientes, apoyando en consecuencia al buen desarrollo de su organización, cumpliendo así con nuestra Misión
                        Empresarial.
                    </h5>
                    <div class="card-image">
                        <a href="#pablo">
                            <img class="img img-raised rounded" src="static/IMG_4551.jpg">
                        </a>
                    </div>




                </div>

            </div>

        </div>

    </div>
</div>
<div class="cd-section" id="projects">

    <!--     *********    PROJECTS 3     *********      -->

    <div class="projects-3" data-background-color="black">

        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">

                    <h2 class="title">Algunos de nuestros servicios</h2>
                </div>
            </div>

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="image-container image-left" style="background-image: url('static/IMG_0426.JPG')">
                            <!-- First image on the left side -->
                            <p class="blockquote blockquote-primary">"Con experiencia de mas de 32 años, la administración y operación de comedores colectivos “in sitú” es la principal actividad de ESASA, con altos estándares de calidad. Proponemos al cliente menús dinámicos de 8 semanas equilibrados
                                nutricionalmente, con sabor y presentación."
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url('static/IMG_4539.jpg')">
                        </div>


                        <h4 class="card-title">Comida industrial</h4>
                        <p>
                            Una vez elaborada la comida en nuestro Centro de Producción Culinario, certificado con el Distintivo H, es acomodada en equipo especializado para conservar temperatura y poder transportar los alimentos de manera segura en vehículos propiedad de ESASA,
                            hasta su entrega en las instalaciones del cliente, para su posterior servicio como en un comedor tradicional Móvil. </p>
                    </div>
                </div>
            </div>

            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <!-- First image on the left side -->
                        <div class="image-container image-left" style="background-image: url('static/IMG_5560.JPG')">
                            <p class="blockquote blockquote-primary">"El servicio de comidas ejecutivas, servicio buffet, bocadillos, parrilladas, taquizas, etc fue creado para satisfacer las necesidades de nuestros clientes cuando estos tienen eventos especiales."
                        </div>
                    </div>
                    <div class="col-md-5">
                        <!-- First image on the right side, above the article -->
                        <div class="image-container image-right" style="background-image: url(' static/IMG_4541.jpg ')">
                        </div>


                        <h4 class="card-title">Nos adecuamos a tus necesidades</h4>
                        <p>
                            Traje 100% a la medida del cliente, donde se especifica y cobra por cumplimiento a las especificaciones del cliente en mano de obra, cantidades y materia prima. Ideal para comedores actualmente auto-administrados sin la complejidad que eso conlleva </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--     *********    END PROJECTS 3      *********      -->


</div>
{% endblock %}