{% extends "base.html" %} {% block appcontent %}
<div class="page-header page-header-mini">
    <div class="page-header-image" data-parallax="true" style="background-image: url(''); transform: translate3d(0px, 43.6667px, 0px);">
    </div>
</div>
<div class="main">
    <div class="contact-content">
        <div class="container">
            <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                    <h2 class="title">Send us a message</h2>
                    <p class="description">You can contact us with anything related to our Products. We'll get in touch with you as soon as possible.<br><br>
                    </p>
                    <form role="form" id="contact-form" method="post">
                        <label>Your name</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons users_circle-08"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Your Name..." aria-label="Your Name..." autocomplete="name">
                        </div>
                        <label>Email address</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email Here..." aria-label="Email Here..." autocomplete="email">
                        </div>
                        <label>Phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="now-ui-icons tech_mobile"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Number Here..." autocomplete="number">
                        </div>
                        <div class="form-group">
                            <label>Your message</label>
                            <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>



{% endblock %}