{% extends "base.html" %} {% block appcontent %}

<div class="section-space bg-primary">
</div>
<div class="section-content">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Maps that shows in layers: employees, working centers and crime</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 content"> <iframe width="100%" height="800" frameborder="0" src="https://joseamica.carto.com/builder/7959aa04-9aa1-4282-98fb-b0377fe16e48/embed"></iframe></div>
    </div>
</div>
<div class="section-content">
    <div class="row">
        <img src="static/map.png" alt="">
    </div>


    {% endblock %}